api/v1/apiproduct.xsd

<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/apiproduct" targetNamespace="https://github.com/Region-Skane-SDI/diml/apiproduct" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="apiProduct" type="Services.ApiProductSpecification" />
  <xs:complexType name="Services.ApiProductSpecification">
    <xs:annotation>
      <xs:documentation>Beskrivning av en apiprodukt med dess specifikationer.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="apis" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
              <xs:element name="restApi" type="Services.Apis.Rest.RestApi" />
              <xs:element name="soapApi" type="Services.Apis.Soap.SoapApi" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="backends" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
              <xs:element name="restBackend" type="Services.Backends.Rest.RestBackend" />
              <xs:element name="soapBackend" type="Services.Backends.Soap.SoapBackend" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="traits" type="Core.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uniqueName" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Apis.Rest.RestApi">
    <xs:all>
      <xs:element name="authorization" type="Services.Core.Authorization.Authorization" minOccurs="0" maxOccurs="1" />
      <xs:element name="routes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="route" type="Services.Apis.Rest.Route" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="transforms" type="Services.Core.Transforms.Transforms" minOccurs="0" maxOccurs="1" />
      <xs:element name="validations" type="Services.Core.Validations.Validations" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="backendId" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Apis.Soap.SoapApi">
    <xs:all>
      <xs:element name="authorization" type="Services.Core.Authorization.Authorization" minOccurs="0" maxOccurs="1" />
      <xs:element name="operations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="operation" type="Services.Apis.Soap.Operation" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="transforms" type="Services.Core.Transforms.Transforms" minOccurs="0" maxOccurs="1" />
      <xs:element name="validations" type="Services.Core.Validations.Validations" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="backendId" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Backends.Rest.RestBackend">
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Backends.Soap.SoapBackend">
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Core.Descriptions.DescriptionCollection">
    <xs:annotation>
      <xs:documentation>En lista av beskrivningar för ett Diml-objekt i olika format och språk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="Core.Descriptions.Description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Names.NameCollection">
    <xs:annotation>
      <xs:documentation>En lista av namn för att namnge ett Diml-objekt på olika språk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="Core.Names.Name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Traits.TraitCollection">
    <xs:annotation>
      <xs:documentation>En lista av egenskaper på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trait" type="Core.Traits.Trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Services.Core.Authorization.Authorization">
    <xs:all>
      <xs:element name="policy" type="Services.Core.Authorization.PolicyAuthorization" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Apis.Rest.Route">
    <xs:all>
      <xs:element name="authorization" type="Services.Core.Authorization.Authorization" minOccurs="0" maxOccurs="1" />
      <xs:element name="match" type="Services.Apis.Rest.RestApiMatch" minOccurs="1" maxOccurs="1" />
      <xs:element name="transforms" type="Services.Core.Transforms.Transforms" minOccurs="0" maxOccurs="1" />
      <xs:element name="validations" type="Services.Core.Validations.Validations" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.Transforms">
    <xs:all>
      <xs:element name="request" type="Services.Core.Transforms.RequestTransforms" minOccurs="0" maxOccurs="1" />
      <xs:element name="response" type="Services.Core.Transforms.ResponseTransforms" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Core.Validations.Validations">
    <xs:all>
      <xs:element name="request" type="Services.Core.Validations.RequestValidations" minOccurs="0" maxOccurs="1" />
      <xs:element name="response" type="Services.Core.Validations.ResponseValidations" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Apis.Soap.Operation">
    <xs:all>
      <xs:element name="authorization" type="Services.Core.Authorization.Authorization" minOccurs="0" maxOccurs="1" />
      <xs:element name="transforms" type="Services.Core.Transforms.Transforms" minOccurs="0" maxOccurs="1" />
      <xs:element name="validations" type="Services.Core.Validations.Validations" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Core.Descriptions.Description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att beskriva ett Diml-objekt i olika format och språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Anger språk för beskrivning.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="Core.Descriptions.DescriptionType" use="required">
          <xs:annotation>
            <xs:documentation>Anger beskrivning i valt format, t.ex markdown eller plain text.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Core.Names.Name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att namnge ett Diml-objekt på olika språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>En representation av vilket språk som används för namnet. Exempelvärde: sv</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Core.Traits.Trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="Core.Traits.TraitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Värdet för egenskapen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Core.Authorization.PolicyAuthorization">
    <xs:attribute name="name" type="Services.Core.Authorization.AuthorizationPolicy" use="optional"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Apis.Rest.RestApiMatch">
    <xs:attribute name="methods" type="Services.Core.HttpMethods" use="required"></xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.RequestTransforms">
    <xs:all>
      <xs:element name="headers" type="Services.Core.Transforms.HeaderTransformCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="path" type="Services.Core.Transforms.PathTransforms" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.ResponseTransforms">
    <xs:all>
      <xs:element name="headers" type="Services.Core.Transforms.HeaderTransformCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Core.Validations.RequestValidations">
    <xs:all>
      <xs:element name="headers" type="Services.Core.Validations.HeaderValidationCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Core.Validations.ResponseValidations">
    <xs:all>
      <xs:element name="headers" type="Services.Core.Validations.HeaderValidationCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="Core.Descriptions.DescriptionType">
    <xs:annotation>
      <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="logicMd" />
      <xs:enumeration value="md" />
      <xs:enumeration value="plain" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Core.Traits.TraitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="appearance.icon" />
      <xs:enumeration value="classification.infoClass" />
      <xs:enumeration value="means.pii.address" />
      <xs:enumeration value="means.pii.email" />
      <xs:enumeration value="means.pii.employeeNumber" />
      <xs:enumeration value="means.pii.name" />
      <xs:enumeration value="means.pii.other" />
      <xs:enumeration value="means.pii.ssn" />
      <xs:enumeration value="means.pii.zip" />
      <xs:enumeration value="privacy.dataIdentifiability.aggregated" />
      <xs:enumeration value="privacy.dataIdentifiability.anonymized" />
      <xs:enumeration value="privacy.dataIdentifiability.identified" />
      <xs:enumeration value="privacy.dataIdentifiability.pseudonymized" />
      <xs:enumeration value="privacy.dataUsage.improve" />
      <xs:enumeration value="privacy.dataUsage.research" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Services.Core.Authorization.AuthorizationPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sithsFunctionCertificate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Services.Core.HttpMethods">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE" />
          <xs:enumeration value="GET" />
          <xs:enumeration value="POST" />
          <xs:enumeration value="PUT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="Services.Core.Transforms.HeaderTransformCollection">
    <xs:sequence>
      <xs:element name="header" type="Services.Core.Transforms.HeaderTransform" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.PathTransforms">
    <xs:all>
      <xs:element name="removePrefix" type="Services.Core.Transforms.RemovePathPrefixTransform" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Services.Core.Validations.HeaderValidationCollection">
    <xs:sequence>
      <xs:element name="header" type="Services.Core.Validations.HeaderValidation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.HeaderTransform">
    <xs:attribute name="mode" type="Services.Core.Transforms.HeaderTransformMode" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="overwrite" type="Services.Core.Transforms.HeaderTransformOverwrite" use="optional"></xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Core.Transforms.RemovePathPrefixTransform">
    <xs:attribute name="prefix" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="Services.Core.Validations.HeaderValidation">
    <xs:attribute name="log" type="Microsoft.Extensions.Logging.LogLevel" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="require" type="Services.Core.Validations.HeaderValidationRequire" use="required"></xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Services.Core.Transforms.HeaderTransformMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="remove" />
      <xs:enumeration value="set" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Services.Core.Transforms.HeaderTransformOverwrite">
    <xs:restriction base="xs:string">
      <xs:enumeration value="false" />
      <xs:enumeration value="true" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Microsoft.Extensions.Logging.LogLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="critical" />
      <xs:enumeration value="debug" />
      <xs:enumeration value="error" />
      <xs:enumeration value="information" />
      <xs:enumeration value="none" />
      <xs:enumeration value="trace" />
      <xs:enumeration value="warning" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Services.Core.Validations.HeaderValidationRequire">
    <xs:restriction base="xs:string">
      <xs:enumeration value="false" />
      <xs:enumeration value="true" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>