data/v5/dataproduct.xsd

<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/dataproduct" targetNamespace="https://github.com/Region-Skane-SDI/diml/dataproduct" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="dataProduct" type="dataProduct" />
  <xs:complexType name="dataProduct">
    <xs:annotation>
      <xs:documentation>Beskrivning av en dataprodukt med dess specifikationer.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dataFlow" type="dataFlow" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataInputs" type="dataInputsCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="dataOutputs" type="dataProductOutputs" minOccurs="0" maxOccurs="1" />
      <xs:element name="dcat" type="dCat" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptionsCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="names" type="namesCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="tables" type="dataProductTableCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="traitsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetPlatform" type="targetPlatformType" use="required">
      <xs:annotation>
        <xs:documentation>Vilken plattform som ska användas.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uniqueName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett globalt unikt namn för en dataspecifikation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dataFlow">
    <xs:annotation>
      <xs:documentation>Anger flödet av data genom alla lager, samt egenskaper t.ex om en tabell ska materialiseras, uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dataIngests" type="dataIngestsCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="dataStages" type="dataStagesCollection" minOccurs="1" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="dataInputsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en list av indatakällor för en dataproduktsspecifikation, t.ex. en DataSource eller en annan DataProduct.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataInput" type="dataInput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataProductOutputs">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av utdataformat.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="apiOutputs" type="apiOutputsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="fileOutputs" type="fileOutputsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="sqlOutputs" type="sqlOutputsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="dCat">
    <xs:annotation>
      <xs:documentation>Innehåller egenskaper för DCAT vilket är en metadataspecifikation för att beskriva datamängder. Mer information finns här: https://docs.dataportal.se/dcat/en/</xs:documentation>
    </xs:annotation>
    <xs:attribute name="dcatAccessRights" type="dCatAccessRightsType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilka åtkomsträttigheter som finns för dataprodukten i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatAvailability" type="dCatAvailabilityType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens tillgänglighet i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatDataTheme" type="dCatDataThemeType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilket datatema dataprodukten tillhör i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatStatus" type="dCatStatusType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens status i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatUpdateFrequency" type="dCatUpdateFrequencyType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens uppdateringsfrekvens i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="descriptionsCollection">
    <xs:annotation>
      <xs:documentation>En lista av beskrivningar för ett Diml-objekt i olika format och språk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="namesCollection">
    <xs:annotation>
      <xs:documentation>En lista av namn för att namnge ett Diml-objekt på olika språk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataProductTableCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tabeller i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="table" type="table" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="targetPlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken plattform som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][zZ][dD][aA][tT][aA][bB][rR][iI][cC][kK][sS]|[aA][zZ][sS][qQ][lL][sS][eE][rR][vV][eE][rR]|[mM][sS][fF][aA][bB][rR][iI][cC][\-][lL][aA][kK][eE][hH][oO][uU][sS][eE]|[mM][sS][fF][aA][bB][rR][iI][cC][\-][wW][aA][rR][eE][hH][oO][uU][sS][eE]|[sS][qQ][lL][sS][eE][rR][vV][eE][rR]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="traitsCollection">
    <xs:annotation>
      <xs:documentation>En lista av egenskaper på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trait" type="trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataIngestsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av Instruktioner för hur data ska läsas in från källa till destination.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataIngest" type="dataIngest" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataStagesCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av datastages som anger de olika stadien för data och dess egenskaper, tex. Om en tabell ska materialiseras eller inte, hur data ska uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataStage" type="dataStage" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataInput">
    <xs:annotation>
      <xs:documentation>Anger en indatakälla för en dataproduktsspecifikation, t.ex. en DataSource eller en annan DataProduct.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken typ av data som ska hämtas och i vilket format.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett globalt unikt dimlId för indatakällan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett id för indatakällan. Detta måste vara unikt inom en DataProduct då det kommer att användas som ett alias.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="apiOutputsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av apiOutput som anger API som utdataformat enligt en angiven standard.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="apiOutput" type="apiOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileOutputsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av fildestinationer för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileOutput" type="fileOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlOutputsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sqluOutput som anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sqlOutput" type="sqlOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dCatAccessRightsType">
    <xs:annotation>
      <xs:documentation>Anger vilka åtkomsträttigheter som finns för dataprodukten i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[nN][oO][nN][pP][uU][bB][lL][iI][cC]|[pP][uU][bB][lL][iI][cC]|[rR][eE][sS][tT][rR][iI][cC][tT][eE][dD]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dCatAvailabilityType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens tillgänglighet i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][vV][aA][iI][lL][aA][bB][lL][eE]|[eE][xX][pP][eE][rR][iI][mM][eE][nN][tT][aA][lL]|[sS][tT][aA][bB][lL][eE]|[tT][eE][mM][pP][oO][rR][aA][rR][yY]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dCatDataThemeType">
    <xs:annotation>
      <xs:documentation>Anger vilket datatema dataprodukten tillhör i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][cC][oO][nN]|[eE][dD][uU][cC]|[eE][nN][eE][rR]|[eE][nN][vV][iI]|[gG][oO][vV][eE]|[hH][eE][aA][lL]|[iI][nN][tT][rR]|[jJ][uU][sS][tT]|[oO][pP][_][dD][aA][tT][pP][rR][oO]|[rR][eE][gG][iI]|[sS][oO][cC][iI]|[tT][eE][cC][hH]|[tT][rR][aA][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dCatStatusType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens status i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][oO][mM][pP][lL][eE][tT][eE][dD]|[dD][eE][pP][rR][eE][cC][aA][tT][eE][dD]|[uU][nN][dD][eE][rR][dD][eE][vV][eE][lL][oO][pP][mM][eE][nN][tT]|[wW][iI][tT][hH][dD][rR][aA][wW][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dCatUpdateFrequencyType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens uppdateringsfrekvens i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][nN][nN][uU][aA][lL]|[aA][nN][nN][uU][aA][lL][2]|[bB][iI][eE][nN][nN][iI][aA][lL]|[bB][iI][mM][oO][nN][tT][hH][lL][yY]|[bB][iI][wW][eE][eE][kK][lL][yY]|[cC][oO][nN][tT][iI][nN][uU][oO][uU][sS]|[dD][aA][iI][lL][yY]|[dD][aA][iI][lL][yY][2]|[iI][rR][rR][eE][gG][uU][lL][aA][rR]|[mM][oO][nN][tT][hH][lL][yY]|[mM][oO][nN][tT][hH][lL][yY][2]|[mM][oO][nN][tT][hH][lL][yY][3]|[oO][tT][hH][eE][rR]|[qQ][uU][aA][rR][tT][eE][rR][lL][yY]|[tT][rR][iI][eE][nN][nN][iI][aA][lL]|[uU][nN][kK][nN][oO][wW][nN]|[uU][pP][dD][aA][tT][eE][_][cC][oO][nN][tT][iI][nN][uU][oO][uU][sS][lL][yY]|[wW][eE][eE][kK][lL][yY]|[wW][eE][eE][kK][lL][yY][2]|[wW][eE][eE][kK][lL][yY][3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att beskriva ett Diml-objekt i olika format och språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Anger språk för beskrivning.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="descriptionType" use="required">
          <xs:annotation>
            <xs:documentation>Anger beskrivning i valt format, t.ex markdown eller plain text.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att namnge ett Diml-objekt på olika språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>En representation av vilket språk som används för namnet. Exempelvärde: sv</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="table">
    <xs:annotation>
      <xs:documentation>Beskriver en tabell i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="businessKey" type="businessKeysCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="columns" type="dataProductColumnsCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptionsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="namesCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="sampleData" type="sampleDataRowsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="tableInstances" type="tableInstancesCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="tableRelations" type="tableRelationsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="traitsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="traitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Värdet för egenskapen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dataIngest">
    <xs:annotation>
      <xs:documentation>Instruktioner för hur data ska läsas in från källa till destination.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="tableToTableMappings" type="tableToTableMappingsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dataInputId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id som respesenterar en källa.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id som representerar ett dataIngest-flöde.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dataStage">
    <xs:annotation>
      <xs:documentation>Anger de olika stadien för data och dess egenskaper, tex. Om en tabell ska materialiseras eller inte, hur data ska uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="logicDataStageTables" type="logicDataStageTablesCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="traitsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="validationPolicy" type="validationPolicy" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Unikt id för dataStage.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="materialization" type="dataStageMaterialization" use="required">
      <xs:annotation>
        <xs:documentation>Anger om data ska materialiseras eller inte.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="order" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Anger ordningen på dataStage, dvs vilket steg som ska ske först.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="role" type="dataStageRole" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vad som ska hända i dataStage t.ex transformation,input,output.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="dataStageType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken typ av dataStage t.ex tempStore,permaStore,validate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="apiOutput">
    <xs:annotation>
      <xs:documentation>Anger API som utdataformat enligt en angiven standard.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="apiOutputType" type="apiOutputType" use="required">
      <xs:annotation>
        <xs:documentation>API utdataformat</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>API Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="fileOutput">
    <xs:annotation>
      <xs:documentation>Anger en fil som destination för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="columnSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som kolumnavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customFormatId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger utdataformatet genom att referera till egendefinierat utdataformat i customFormats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="encoding" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Teckenkodningen för utdatafilen, t.ex. UTF-8.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileFormat" type="fileFormat" use="required">
      <xs:annotation>
        <xs:documentation>Anger filformatet av utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Sökvägen för utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quoteCharacter" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket tecken som ska användas som citationstecken i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som radavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="table" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilken källtabell som utdatafilen ska baseras på.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="sqlOutput">
    <xs:annotation>
      <xs:documentation>Anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqlOutputType" type="sqlOutputType" use="required">
      <xs:annotation>
        <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="descriptionType">
    <xs:annotation>
      <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[lL][oO][gG][iI][cC][mM][dD]|[mM][dD]|[pP][lL][aA][iI][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="businessKeysCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av businessKey som beskriver vilken kolumn som ska användas som BusinessKey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="businessKey" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataProductColumnsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av dataProductColumn som beskriver en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="column" type="column" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sampleDataRowsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sampleDataRow som anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sampleDataRow" type="sampleDataRow" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableInstancesCollection">
    <xs:annotation>
      <xs:documentation>En samling av tabellinstanser i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableInstance" type="tableInstance" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="existsFromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som tabellen kommer att existera i. Om inget anges gäller dataStage med order="1".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="existsToStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som tabellen kommer att existera i. Om inget anges gäller dataStage med order="X", där X = högsta order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tableRelationsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tableRelation som anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableRelation" type="tableRelation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="traitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][pP][pP][eE][aA][rR][aA][nN][cC][eE][\.][iI][cC][oO][nN]|[cC][lL][aA][sS][sS][iI][fF][iI][cC][aA][tT][iI][oO][nN][\.][iI][nN][fF][oO][cC][lL][aA][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][aA][dD][dD][rR][eE][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][aA][iI][lL]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][pP][lL][oO][yY][eE][eE][nN][uU][mM][bB][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][nN][aA][mM][eE]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][oO][tT][hH][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][sS][sS][nN]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][zZ][iI][pP]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][gG][gG][rR][eE][gG][aA][tT][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][nN][oO][nN][yY][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][iI][dD][eE][nN][tT][iI][fF][iI][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][pP][sS][eE][uU][dD][oO][nN][yY][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][iI][mM][pP][rR][oO][vV][eE]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][rR][eE][sS][eE][aA][rR][cC][hH]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tableToTableMappingsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tabellmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableToTableMapping" type="tableToTableMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logicDataStageTablesCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av logicDataStageTable som beskriver hur tabeller ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="logicDataStageTable" type="logicDataStageTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dataStageMaterialization">
    <xs:annotation>
      <xs:documentation>Anger om data ska materialiseras eller virtualiseras.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[iI][nN][gG][eE][sS][tT]|[tT][aA][bB][lL][eE]|[vV][aA][lL][iI][dD][aA][tT][eE]|[vV][iI][eE][wW]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageRole">
    <xs:annotation>
      <xs:documentation>Anger vad som sker i dataStage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][oO][nN][tT][rR][oO][lL]|[iI][nN][pP][uU][tT]|[nN][oO][nN][eE]|[oO][uU][tT][pP][uU][tT]|[tT][rR][aA][nN][sS][fF][oO][rR][mM][aA][tT][iI][oO][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageType">
    <xs:annotation>
      <xs:documentation>Anger vilken typ av dataStage .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[bB][aA][sS][iI][cC][lL][oO][gG][iI][cC]|[hH][aA][sS][hH]|[iI][nN][gG][eE][sS][tT][sS][tT][oO][rR][eE]|[lL][oO][gG][iI][cC]|[pP][eE][rR][mM][aA][sS][tT][oO][rR][eE]|[tT][eE][mM][pP][sS][tT][oO][rR][eE]|[tT][yY][pP][eE][cC][aA][sS][tT]|[vV][aA][lL][iI][dD][aA][tT][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="validationPolicy">
    <xs:annotation>
      <xs:documentation>TODO</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="businessKeyDuplicate" type="businessKeyDuplicate" minOccurs="0" maxOccurs="1" />
      <xs:element name="businessKeyNull" type="businessKeyNull" minOccurs="0" maxOccurs="1" />
      <xs:element name="qualityValidation" type="qualityValidation" minOccurs="0" maxOccurs="1" />
      <xs:element name="validateDataStageTables" type="validateDataStageTableCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="apiOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med apiOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[oO][dD][aA][tT][aA]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fileFormat">
    <xs:annotation>
      <xs:documentation>Anger kompatibla filformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][sS][vV]|[cC][uU][sS][tT][oO][mM]|[pP][aA][rR][qQ][uU][eE][tT]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sqlOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[sS][pP][aA][rR][kK][sS][qQ][lL]|[tT][sS][qQ][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="businessKey">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="column">
    <xs:annotation>
      <xs:documentation>Beskriver en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="columnInstances" type="columnInstancesCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptionsCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="dimlDataType" type="dimlDataType" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="namesCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="traitsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="sampleDataRow">
    <xs:annotation>
      <xs:documentation>Anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableInstance">
    <xs:annotation>
      <xs:documentation>Anger en instans av en tabell i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="alias" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger tabellens alias för ett eller flera dataStages.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som tabellen ska byta namn i. Om inget anges gäller dataStage med order="1".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="toStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som tabellen ska byta namn i. Om inget anges gäller dataStage med order="X", där X = högsta order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tableRelation">
    <xs:annotation>
      <xs:documentation>Anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relationColumns" type="relationColumns" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id för tabellrelationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetTableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken tabell som tabellrelationen relaterar till.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tableToTableMapping">
    <xs:annotation>
      <xs:documentation>En tabellmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="columnMappings" type="columnMappingsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="allowSchemaDrift" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>TODO</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceTableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id i källan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id i destinationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="logicDataStageTable">
    <xs:annotation>
      <xs:documentation>Beskriver hur tabeller ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="logicColumnMappings" type="logicColumnMappingsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="filterSqlExpression" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om tabellrader ska filtreras.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger tabellid på tabell vars värden ska transformeras.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trim" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om tabellens kolumnvärden ska trimmas om inte en specifik kolumn trim anges.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="businessKeyDuplicate">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling duplicate business keys.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="action" type="businessKeyDuplicateAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for handling duplicate BusinessKeys.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowNoOrderBy" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the sorting expression applied to the table for duplicate removal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="businessKeyNull">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling business keys with null values.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="defaultValues" type="defaultValueCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="action" type="businessKeyNullAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for handling null values in the BusinessKey.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="qualityValidation">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling when something is not valid.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="action" type="qualityValidationAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for quality validation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="validateDataStageTableCollection">
    <xs:sequence>
      <xs:element name="validateDataStageTable" type="validateDataStageTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="columnInstancesCollection">
    <xs:annotation>
      <xs:documentation>En samling av kolumninstanser i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="columnInstance" type="columnInstance" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="existsFromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som kolumnen ska existera i. Om inget anges gäller dataStage med order="1".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="existsToStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som kolumnen ska existera i. Om inget anges gäller dataStage med order="X", där X = högsta order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dimlDataType">
    <xs:annotation>
      <xs:documentation>Anger en Diml-datatyp baserat på dom typer som finns definierade i datatypsspecifikationen.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="bits" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="dimlDataTypeFormat" use="optional">
      <xs:annotation>
        <xs:documentation>Anger formatet på datan. T.ex. Xml eller Json.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="dimlDataTypes" use="required">
      <xs:annotation>
        <xs:documentation>Anger datatypens typ. T.ex. String eller Integer.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isFixedLength" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall t.ex. en sträng har en fixerad längd och alltid tar upp lika mycket plats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isNullable" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen kan vara null eller ej.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isUnsigned" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen enbart kan innehålla positiva heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isWideChar" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen är en widechar is SQL.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger maxlängden på t.ex. en sträng.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mantissa" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra mantissan för flyttal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalDataType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger källsystemets datatyp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalPlatform" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger typen av källsystem som datatypen härstammar från.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="precision" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger precisionen för tid och decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger skalan för decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="relationColumns">
    <xs:annotation>
      <xs:documentation>Anger med vilka kolumner en tabell relaterar till en annan.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i källtabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetColumnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i den relaterade tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="columnMappingsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av ColumnMapping som är en kolumnmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="columnMapping" type="columnMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logicColumnMappingsCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av logicColumnMapping som beskriver hur kolumner ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="logicColumnMapping" type="logicColumnMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="businessKeyDuplicateAction">
    <xs:annotation>
      <xs:documentation>Actions for business key duplicate policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][lL][iI][mM][iI][nN][aA][tT][eE]|[fF][lL][aA][gG]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="businessKeyNullAction">
    <xs:annotation>
      <xs:documentation>Actions for business key null policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[fF][lL][aA][gG]|[sS][eE][tT][dD][eE][fF][aA][uU][lL][tT][vV][aA][lL][uU][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="defaultValueCollection">
    <xs:sequence>
      <xs:element name="defaultValue" type="defaultValue" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="qualityValidationAction">
    <xs:annotation>
      <xs:documentation>Actions for quality validation policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][lL][iI][mM][iI][nN][aA][tT][eE][oO][nN][lL][yY]|[fF][iI][lL][tT][eE][rR][vV][aA][lL][iI][dD]|[iI][gG][nN][oO][rR][eE][vV][aA][lL][iI][dD]|[sS][tT][oO][pP]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="validateDataStageTable">
    <xs:all>
      <xs:element name="businessKeyDuplicate" type="businessKeyDuplicate" minOccurs="0" maxOccurs="1" />
      <xs:element name="businessKeyNull" type="businessKeyNull" minOccurs="0" maxOccurs="1" />
      <xs:element name="qualityValidation" type="qualityValidation" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="tableId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>A unique identifier that references a specific table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="columnInstance">
    <xs:annotation>
      <xs:documentation>Anger en instans av en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dimlDataType" type="dimlDataType" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="alias" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger kolumnens alias för ett eller flera dataStages.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som kolumnen ska byta namn och/eller datatyp i. Om inget anges gäller dataStage med order="1".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="toStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som kolumnen ska byta namn och/eller datatyp i. Om inget anges gäller dataStage med order="X", där X = högsta order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="dimlDataTypeFormat">
    <xs:restriction base="xs:string">
      <xs:pattern value="[jJ][sS][oO][nN]|[xX][mM][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dimlDataTypes">
    <xs:restriction base="xs:string">
      <xs:pattern value="[bB][iI][nN][aA][rR][yY]|[bB][oO][oO][lL][eE][aA][nN]|[dD][aA][tT][eE]|[dD][aA][tT][eE][tT][iI][mM][eE]|[dD][aA][tT][eE][tT][iI][mM][eE][oO][fF][fF][sS][eE][tT]|[dD][eE][cC][iI][mM][aA][lL]|[fF][lL][oO][aA][tT]|[gG][uU][iI][dD]|[iI][nN][tT][eE][gG][eE][rR]|[sS][tT][rR][iI][nN][gG]|[tT][iI][mM][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="columnMapping">
    <xs:annotation>
      <xs:documentation>En kolumnmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id i destinationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceColumnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id i källan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="logicColumnMapping">
    <xs:annotation>
      <xs:documentation>Beskriver hur kolumner ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger kolumnid i tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customSqlExpression" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ett SQL-uttryck för transformeringen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trim" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om kolumnens värden ska trimmas.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="defaultValue">
    <xs:annotation>
      <xs:documentation>Defines a default value for a column.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A unique identifier that references a specific column within a table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the default value assigned to the referenced column.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>