v0/datasource.xsd

<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/datasource" targetNamespace="https://github.com/Region-Skane-SDI/diml/datasource" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="dataSource" type="dataSource" />
  <xs:complexType name="dataSource">
    <xs:annotation>
      <xs:documentation>Beskrivning av en datakälla (som kan användas av dataprodukter).</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="names" type="names" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptions" minOccurs="1" maxOccurs="1" />
      <xs:element name="traits" type="traits" minOccurs="0" maxOccurs="1" />
      <xs:element name="tables" type="tables" minOccurs="0" maxOccurs="1" />
      <xs:element name="customFormats" type="customFormats" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataOutputs" type="dataOutputs" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tables">
    <xs:sequence>
      <xs:element name="table" type="table" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="table">
    <xs:annotation>
      <xs:documentation>Beskriver en tabell i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="names" type="names" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptions" minOccurs="1" maxOccurs="1" />
      <xs:element name="traits" type="traits" minOccurs="0" maxOccurs="1" />
      <xs:element name="businessKey" type="businessKey" minOccurs="0" maxOccurs="1" />
      <xs:element name="columns" type="columns" minOccurs="1" maxOccurs="1" />
      <xs:element name="tableRelations" type="tableRelations" minOccurs="0" maxOccurs="1" />
      <xs:element name="sampleData" type="sampleData" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="businessKey">
    <xs:sequence>
      <xs:element name="value" type="businessKeyValue" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="businessKeyValue">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="columns">
    <xs:sequence>
      <xs:element name="column" type="column" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="column">
    <xs:annotation>
      <xs:documentation>Beskriver en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="names" type="names" minOccurs="1" maxOccurs="1" />
      <xs:element name="dimlDataType" type="dimlDataType" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptions" minOccurs="1" maxOccurs="1" />
      <xs:element name="traits" type="traits" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dimlDataType">
    <xs:attribute name="id" type="dimlDataTypeConfigType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken Diml-datatyp som ska användas, baserat på ett ID från en
                    dataTypeAttribute i dataTypes &gt; dataTypeAttributes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="precision" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isFixedLength" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isWideChar" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unsigned" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalDataType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalPlatform" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isCaseSensitive" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isNullable" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isUtcTime" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>En implementation av ett attribut i dataTypes &gt; dataTypeAttributes med samma ID.
                    </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tableRelations">
    <xs:sequence>
      <xs:element name="tableRelation" type="tableRelation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableRelation">
    <xs:annotation>
      <xs:documentation>Anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relationColumns" type="relationColumns" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id för tabellrelationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetTable" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken tabell som tabellrelationen relaterar till.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="relationColumns">
    <xs:annotation>
      <xs:documentation>Anger med vilka kolumner en tabell relaterar till en annan.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i källtabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetColumnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i den relaterade tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="sampleData">
    <xs:sequence>
      <xs:element name="sampleDataRow" type="sampleDataRow" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sampleDataRow">
    <xs:annotation>
      <xs:documentation>Anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="stringValueType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFormats">
    <xs:sequence>
      <xs:element name="customFormat" type="customFormat" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFormat">
    <xs:annotation>
      <xs:documentation>Beskriver ett egendefinierat utdataformat.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="customFormatId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett id för det egendefinierade udataformatet. Id:et måste vara unikt inom en dataproduktspecifikation då det kommer att användas som ett alias.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="formatType" type="formatType" use="required">
      <xs:annotation>
        <xs:documentation>Anger kompatibla utdataformat.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mimeType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger en MIME-typ för utdataformatet, om det är ett binärformat.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="schemaLocation" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ett schema för utdataformatet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="dataOutputs">
    <xs:all>
      <xs:element name="fileOutputs" type="fileOutputs" minOccurs="0" maxOccurs="1" />
      <xs:element name="sqlOutputs" type="sqlOutputs" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="fileOutputs">
    <xs:sequence>
      <xs:element name="fileOutput" type="fileOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileOutput">
    <xs:annotation>
      <xs:documentation>Anger en fil som destination för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="columnSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som kolumnavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customFormatId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger utdataformatet genom att referera till egendefinierat utdataformat i customFormats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="encoding" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Teckenkodningen för utdatafilen, t.ex. UTF-8.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileFormat" type="fileFormat" use="required">
      <xs:annotation>
        <xs:documentation>Anger kompatibla filformat.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Sökvägen för utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quoteCharacter" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket tecken som ska användas som citationstecken i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som radavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="table" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilken källtabell som utdatafilen ska baseras på.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="sqlOutputs">
    <xs:sequence>
      <xs:element name="sqlOutput" type="sqlOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlOutput">
    <xs:annotation>
      <xs:documentation>Anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqlOutputType" type="sqlOutputType" use="required">
      <xs:annotation>
        <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="includeTables">
    <xs:sequence>
      <xs:element name="includeTable" type="includeTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="includeTable">
    <xs:annotation>
      <xs:documentation>Anger vilka tabeller som ska inkluderas i output.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id som representerar tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="names">
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att namnge ett Diml-objekt på olika språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>En representation av vilket språk som används för namnet. Exempelvärde: sv</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="descriptions">
    <xs:sequence>
      <xs:element name="description" type="description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att beskriva ett Diml-objekt i olika format och språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Anger språk för beskrivning.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="descriptionType" use="required">
          <xs:annotation>
            <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="traits">
    <xs:sequence>
      <xs:element name="trait" type="trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="traitParameter" type="traitParameter" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="class" type="traitClass" use="required">
      <xs:annotation>
        <xs:documentation>Anger tillgängliga klasser för en Trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="subclass" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger subtyp för en Trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="traitParameter">
    <xs:annotation>
      <xs:documentation>Anger värden på en trait.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="stringValueType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="key" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger nyckelvärde för traitParameter (default=value).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger värde/värden för nyckeln.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="stringValueType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="dimlDataTypeConfigType">
    <xs:annotation>
      <xs:documentation>Anger en Diml-datatyp baserad på dom typer som finns beskrivna under dataTypes &gt;
                dimlDataTypeConfigs</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[sS][tT][rR][iI][nN][gG]|[bB][oO][oO][lL][eE][aA][nN]|[tT][iI][nN][yY][iI][nN][tT][eE][gG][eE][rR]|[sS][mM][aA][lL][lL][iI][nN][tT][eE][gG][eE][rR]|[iI][nN][tT][eE][gG][eE][rR]|[bB][iI][gG][iI][nN][tT][eE][gG][eE][rR]|[fF][lL][oO][aA][tT]|[dD][oO][uU][bB][lL][eE]|[dD][eE][cC][iI][mM][aA][lL]|[dD][aA][tT][eE]|[dD][aA][tT][eE][tT][iI][mM][eE]|[dD][aA][tT][eE][tT][iI][mM][eE][oO][fF][fF][sS][eE][tT]|[tT][iI][mM][eE]|[xX][mM][lL]|[bB][iI][nN][aA][rR][yY]|[gG][uU][iI][dD]|[sS][sS][nN]|[fF][uU][lL][lL][nN][aA][mM][eE]|[aA][gG][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="traitClass">
    <xs:annotation>
      <xs:documentation>Anger tillgängliga klasser för en Trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][aA][tT][eE][gG][oO][rR][yY]|[cC][oO][lL][uU][mM][nN][sS][oO][uU][rR][cC][eE][sS]|[dD][aA][tT][aA][sS][tT][aA][gG][eE][oO][pP][eE][rR][aA][tT][iI][oO][nN][sS][\.][aA][pP][pP][lL][yY][dD][aA][tT][aA][qQ][uU][aA][lL][iI][tT][yY][rR][uU][lL][eE][sS]|[dD][eE][fF][aA][uU][lL][tT][cC][oO][nN][fF][iI][gG][nN][aA][mM][eE][sS][pP][aA][cC][eE]|[eE][xX][tT][eE][nN][sS][iI][oO][nN]|[gG][eE][nN][eE][rR][aA][tT][eE][kK][eE][yY][hH][aA][sS][hH]|[gG][eE][nN][eE][rR][aA][tT][eE][rR][oO][wW][hH][aA][sS][hH]|[gG][uU][iI][dD]|[iI][cC][oO][nN]|[iI][nN][fF][dD][oO][mM]|[iI][nN][fF][oO][cC][lL][aA][sS][sS]|[iI][nN][fF][oO][mM][rR]|[iI][sS][gG][rR][eE][aA][tT][eE][rR][tT][hH][aA][nN]|[iI][sS][uU][nN][lL][iI][sS][tT][eE][dD]|[iI][sS][vV][iI][rR][tT][uU][aA][lL]|[pP][iI][iI]|[qQ][uU][aA][lL][iI][tT][yY][\.][bB][uU][sS][iI][nN][eE][sS][sS][kK][eE][yY][\.][dD][uU][pP][lL][iI][cC][aA][tT][eE]|[qQ][uU][aA][lL][iI][tT][yY][\.][bB][uU][sS][iI][nN][eE][sS][sS][kK][eE][yY][\.][nN][uU][lL][lL]|[tT][aA][bB][lL][eE][nN][aA][mM][eE][pP][rR][eE][fF][iI][xX]|[tT][aA][bB][lL][eE][nN][aA][mM][eE][sS][uU][fF][fF][iI][xX]|[tT][aA][bB][lL][eE][sS][cC][hH][eE][mM][aA]|[tT][aA][bB][lL][eE][uU][pP][dD][aA][tT][eE][tT][yY][pP][eE]|[tT][aA][rR][gG][eE][tT][uU][pP][tT][iI][mM][eE][pP][eE][rR][cC][eE][nN][tT]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formatType">
    <xs:annotation>
      <xs:documentation>Anger kompatibla utdataformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[bB][iI][nN][aA][rR][yY]|[jJ][sS][oO][nN]|[xX][mM][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sqlOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[sS][pP][aA][rR][qQ][lL]|[tT][sS][qQ][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fileFormat">
    <xs:annotation>
      <xs:documentation>Anger kompatibla filformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][sS][vV]|[cC][uU][sS][tT][oO][mM]|[pP][aA][rR][qQ][uU][eE][tT]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="apiOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med apiOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[oO][dD][aA][tT][aA]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageMaterialization">
    <xs:annotation>
      <xs:documentation>Anger om data ska materialiseras eller virtualiseras.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[tT][aA][bB][lL][eE]|[vV][iI][eE][wW]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageRole">
    <xs:annotation>
      <xs:documentation>Anger vad som sker i dataStage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][oO][nN][tT][rR][oO][lL]|[iI][nN][pP][uU][tT]|[nN][oO][nN][eE]|[oO][uU][tT][pP][uU][tT]|[tT][rR][aA][nN][sS][fF][oO][rR][mM][aA][tT][iI][oO][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageType">
    <xs:annotation>
      <xs:documentation>Anger vilken typ av dataStage .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[hH][aA][sS][hH]|[lL][oO][gG][iI][cC]|[pP][eE][rR][mM][aA][sS][tT][oO][rR][eE]|[tT][eE][mM][pP][sS][tT][oO][rR][eE]|[tT][yY][pP][eE][cC][aA][sS][tT]|[vV][aA][lL][iI][dD][aA][tT][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="semanticLinkType">
    <xs:annotation>
      <xs:documentation>Anger hur andra produkter länkar till varandra.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[hH][aA][sS]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="descriptionType">
    <xs:annotation>
      <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[lL][oO][gG][iI][cC][mM][dD]|[mM][dD]|[pP][lL][aA][iI][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="targetPlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken plattform som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][zZ][dD][aA][tT][aA][bB][rR][iI][cC][kK][sS]|[aA][zZ][sS][qQ][lL][sS][eE][rR][vV][eE][rR]|[mM][sS][fF][aA][bB][rR][iI][cC][lL][aA][kK][eE][hH][oO][uU][sS][eE]|[mM][sS][fF][aA][bB][rR][iI][cC][wW][aA][rR][eE][hH][oO][uU][sS][eE]|[sS][qQ][lL][sS][eE][rR][vV][eE][rR]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>