v3/apiproduct.xsd

<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/apiproduct" targetNamespace="https://github.com/Region-Skane-SDI/diml/apiproduct" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="apiProduct" type="apiProduct" />
  <xs:complexType name="apiProduct">
    <xs:annotation>
      <xs:documentation>Beskrivning av en apiprodukt med dess specifikationer.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="names" type="names" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="descriptions" minOccurs="1" maxOccurs="1" />
      <xs:element name="traits" type="traits" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="names">
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att namnge ett Diml-objekt på olika språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>En representation av vilket språk som används för namnet. Exempelvärde: sv</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="descriptions">
    <xs:sequence>
      <xs:element name="description" type="description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Används för att beskriva ett Diml-objekt i olika format och språk.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Anger språk för beskrivning.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="descriptionType" use="required">
          <xs:annotation>
            <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="traits">
    <xs:sequence>
      <xs:element name="trait" type="trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="traitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional"></xs:attribute>
  </xs:complexType>
  <xs:simpleType name="stringValueType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="dataStageMaterialization">
    <xs:annotation>
      <xs:documentation>Anger om data ska materialiseras eller virtualiseras.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[iI][nN][gG][eE][sS][tT]|[tT][aA][bB][lL][eE]|[vV][aA][lL][iI][dD][aA][tT][eE]|[vV][iI][eE][wW]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageRole">
    <xs:annotation>
      <xs:documentation>Anger vad som sker i dataStage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][oO][nN][tT][rR][oO][lL]|[iI][nN][pP][uU][tT]|[nN][oO][nN][eE]|[oO][uU][tT][pP][uU][tT]|[tT][rR][aA][nN][sS][fF][oO][rR][mM][aA][tT][iI][oO][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataStageType">
    <xs:annotation>
      <xs:documentation>Anger vilken typ av dataStage .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[bB][aA][sS][iI][cC][lL][oO][gG][iI][cC]|[hH][aA][sS][hH]|[iI][nN][gG][eE][sS][tT][sS][tT][oO][rR][eE]|[lL][oO][gG][iI][cC]|[pP][eE][rR][mM][aA][sS][tT][oO][rR][eE]|[tT][eE][mM][pP][sS][tT][oO][rR][eE]|[tT][yY][pP][eE][cC][aA][sS][tT]|[vV][aA][lL][iI][dD][aA][tT][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcatAccessRights">
    <xs:annotation>
      <xs:documentation>Anger vilka åtkomsträttigheter som finns för dataprodukten i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[nN][oO][nN][pP][uU][bB][lL][iI][cC]|[pP][uU][bB][lL][iI][cC]|[rR][eE][sS][tT][rR][iI][cC][tT][eE][dD]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcatAvailability">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens tillgänglighet i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][vV][aA][iI][lL][aA][bB][lL][eE]|[eE][xX][pP][eE][rR][iI][mM][eE][nN][tT][aA][lL]|[sS][tT][aA][bB][lL][eE]|[tT][eE][mM][pP][oO][rR][aA][rR][yY]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcatDataTheme">
    <xs:annotation>
      <xs:documentation>Anger vilket datatema dataprodukten tillhör i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][cC][oO][nN]|[eE][dD][uU][cC]|[eE][nN][eE][rR]|[eE][nN][vV][iI]|[gG][oO][vV][eE]|[hH][eE][aA][lL]|[iI][nN][tT][rR]|[jJ][uU][sS][tT]|[oO][pP][_][dD][aA][tT][pP][rR][oO]|[rR][eE][gG][iI]|[sS][oO][cC][iI]|[tT][eE][cC][hH]|[tT][rR][aA][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcatUpdateFrequency">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens uppdateringsfrekvens i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][nN][nN][uU][aA][lL]|[aA][nN][nN][uU][aA][lL][2]|[bB][iI][eE][nN][nN][iI][aA][lL]|[bB][iI][mM][oO][nN][tT][hH][lL][yY]|[bB][iI][wW][eE][eE][kK][lL][yY]|[cC][oO][nN][tT][iI][nN][uU][oO][uU][sS]|[dD][aA][iI][lL][yY]|[dD][aA][iI][lL][yY][2]|[iI][rR][rR][eE][gG][uU][lL][aA][rR]|[mM][oO][nN][tT][hH][lL][yY]|[mM][oO][nN][tT][hH][lL][yY][2]|[mM][oO][nN][tT][hH][lL][yY][3]|[oO][tT][hH][eE][rR]|[qQ][uU][aA][rR][tT][eE][rR][lL][yY]|[tT][rR][iI][eE][nN][nN][iI][aA][lL]|[uU][nN][kK][nN][oO][wW][nN]|[uU][pP][dD][aA][tT][eE][_][cC][oO][nN][tT][iI][nN][uU][oO][uU][sS][lL][yY]|[wW][eE][eE][kK][lL][yY]|[wW][eE][eE][kK][lL][yY][2]|[wW][eE][eE][kK][lL][yY][3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dcatStatus">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens status i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][oO][mM][pP][lL][eE][tT][eE][dD]|[dD][eE][pP][rR][eE][cC][aA][tT][eE][dD]|[uU][nN][dD][eE][rR][dD][eE][vV][eE][lL][oO][pP][mM][eE][nN][tT]|[wW][iI][tT][hH][dD][rR][aA][wW][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="semanticLinkType">
    <xs:annotation>
      <xs:documentation>Anger hur andra produkter länkar till varandra.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[hH][aA][sS]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sourcePlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken källplattformstyp som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][zZ][sS][qQ][lL][sS][eE][rR][vV][eE][rR]|[sS][qQ][lL][sS][eE][rR][vV][eE][rR]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="businessKeyDuplicateAction">
    <xs:annotation>
      <xs:documentation>Actions for business key duplicate policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][lL][iI][mM][iI][nN][aA][tT][eE]|[fF][lL][aA][gG]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="businessKeyNullAction">
    <xs:annotation>
      <xs:documentation>Actions for business key null policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[fF][lL][aA][gG]|[sS][eE][tT][dD][eE][fF][aA][uU][lL][tT][vV][aA][lL][uU][eE]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="qualityValidationAction">
    <xs:annotation>
      <xs:documentation>Actions for quality validation policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[eE][lL][iI][mM][iI][nN][aA][tT][eE][oO][nN][lL][yY]|[fF][iI][lL][tT][eE][rR][vV][aA][lL][iI][dD]|[iI][gG][nN][oO][rR][eE][vV][aA][lL][iI][dD]|[sS][tT][oO][pP]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formatType">
    <xs:annotation>
      <xs:documentation>Anger kompatibla utdataformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[bB][iI][nN][aA][rR][yY]|[jJ][sS][oO][nN]|[xX][mM][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sqlOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[sS][pP][aA][rR][kK][sS][qQ][lL]|[tT][sS][qQ][lL]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fileFormat">
    <xs:annotation>
      <xs:documentation>Anger kompatibla filformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[cC][sS][vV]|[cC][uU][sS][tT][oO][mM]|[pP][aA][rR][qQ][uU][eE][tT]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="apiOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med apiOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[oO][dD][aA][tT][aA]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="traitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][pP][pP][eE][aA][rR][aA][nN][cC][eE][\.][iI][cC][oO][nN]|[cC][lL][aA][sS][sS][iI][fF][iI][cC][aA][tT][iI][oO][nN][\.][iI][nN][fF][oO][cC][lL][aA][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][aA][dD][dD][rR][eE][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][aA][iI][lL]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][pP][lL][oO][yY][eE][eE][nN][uU][mM][bB][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][nN][aA][mM][eE]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][oO][tT][hH][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][sS][sS][nN]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][zZ][iI][pP]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][gG][gG][rR][eE][gG][aA][tT][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][nN][oO][nN][yY][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][iI][dD][eE][nN][tT][iI][fF][iI][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][pP][sS][eE][uU][dD][oO][nN][iI][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][iI][mM][pP][rR][oO][vV][eE]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][rR][eE][sS][eE][aA][rR][cC][hH]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="descriptionType">
    <xs:annotation>
      <xs:documentation>Anger textformat för beskrivningen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[lL][oO][gG][iI][cC][mM][dD]|[mM][dD]|[pP][lL][aA][iI][nN]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="targetPlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken plattform som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][zZ][dD][aA][tT][aA][bB][rR][iI][cC][kK][sS]|[aA][zZ][sS][qQ][lL][sS][eE][rR][vV][eE][rR]|[mM][sS][fF][aA][bB][rR][iI][cC][\-][lL][aA][kK][eE][hH][oO][uU][sS][eE]|[mM][sS][fF][aA][bB][rR][iI][cC][\-][wW][aA][rR][eE][hH][oO][uU][sS][eE]|[sS][qQ][lL][sS][eE][rR][vV][eE][rR]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>