v4/dimlconfig.xsd

<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/config" targetNamespace="https://github.com/Region-Skane-SDI/diml/config" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="config" type="config" />
  <xs:complexType name="config">
    <xs:annotation>
      <xs:documentation>Konfiguration av Diml-miljö där t.ex standardspråk anges.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="traits" type="traitsCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="defaultLanguage" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger standardspråk för en Diml-miljö</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="traitsCollection">
    <xs:sequence>
      <xs:element name="trait" type="trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="traitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional"></xs:attribute>
  </xs:complexType>
  <xs:simpleType name="traitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[aA][pP][pP][eE][aA][rR][aA][nN][cC][eE][\.][iI][cC][oO][nN]|[cC][lL][aA][sS][sS][iI][fF][iI][cC][aA][tT][iI][oO][nN][\.][iI][nN][fF][oO][cC][lL][aA][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][aA][dD][dD][rR][eE][sS][sS]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][aA][iI][lL]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][eE][mM][pP][lL][oO][yY][eE][eE][nN][uU][mM][bB][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][nN][aA][mM][eE]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][oO][tT][hH][eE][rR]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][sS][sS][nN]|[mM][eE][aA][nN][sS][\.][pP][iI][iI][\.][zZ][iI][pP]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][gG][gG][rR][eE][gG][aA][tT][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][aA][nN][oO][nN][yY][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][iI][dD][eE][nN][tT][iI][fF][iI][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][iI][dD][eE][nN][tT][iI][fF][iI][aA][bB][iI][lL][iI][tT][yY][\.][pP][sS][eE][uU][dD][oO][nN][iI][mM][iI][zZ][eE][dD]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][iI][mM][pP][rR][oO][vV][eE]|[pP][rR][iI][vV][aA][cC][yY][\.][dD][aA][tT][aA][uU][sS][aA][gG][eE][\.][rR][eE][sS][eE][aA][rR][cC][hH]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>