datasource/v5.0.0.xsd

<!--
    DIML XSD Schema for datasource v5.0.0
-->
<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/datasource" targetNamespace="https://github.com/Region-Skane-SDI/diml/datasource" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="dataSource" type="Data.DataSourceSpecification" />
  <xs:complexType name="Data.DataSourceSpecification">
    <xs:annotation>
      <xs:documentation>Beskrivning av en datakälla (som kan användas av dataprodukter).</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dataOutputs" type="Data.DataSourceOutputs" minOccurs="0" maxOccurs="1" />
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="tables" type="Data.Tabular.DataSourceTableCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Core.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourcePlatform" type="Data.SourcePlatformType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken källplattformstyp som ska användas.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uniqueName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett globalt unikt namn för en dataspecifikation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Data.DataSourceOutputs">
    <xs:all>
      <xs:element name="fileOutputs" type="Data.Outputs.File.FileOutputCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="sqlOutputs" type="Data.Outputs.Sql.SqlOutputCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Core.Descriptions.DescriptionCollection">
    <xs:annotation>
      <xs:documentation>A collection of descriptions of the object in different languages and formats.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="Core.Descriptions.Description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Names.NameCollection">
    <xs:annotation>
      <xs:documentation>A collection of names of the object in different languages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="Core.Names.Name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Data.SourcePlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken källplattformstyp som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="azsqlserver">
        <xs:annotation>
          <xs:documentation>Azure SQL Server</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sqlserver">
        <xs:annotation>
          <xs:documentation>SQL Server</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Data.Tabular.DataSourceTableCollection">
    <xs:sequence>
      <xs:element name="table" type="Data.Tabular.DataSourceTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Traits.TraitCollection">
    <xs:annotation>
      <xs:documentation>En lista av egenskaper på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trait" type="Core.Traits.Trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Outputs.File.FileOutputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av fildestinationer för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileOutput" type="Data.Outputs.File.FileOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Outputs.Sql.SqlOutputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sqluOutput som anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sqlOutput" type="Data.Outputs.Sql.SqlOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Descriptions.Description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Used to give a DIML object a description in a given language and format.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="Core.Language" use="required">
          <xs:annotation>
            <xs:documentation>The language of the description.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="Core.Descriptions.DescriptionType" use="required">
          <xs:annotation>
            <xs:documentation>The format of the description.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Core.Names.Name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Represents a name of a DIML object in a specific language.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="Core.Language" use="required">
          <xs:annotation>
            <xs:documentation>The language of the name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.DataSourceTable">
    <xs:annotation>
      <xs:documentation>Beskriver en tabell i en tabulär datakälla.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="businessKey" type="Data.Tabular.BusinessKeyCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="columns" type="Data.Tabular.DataSourceColumnCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="sampleData" type="Data.Tabular.SampleDataRowCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="tableRelations" type="Data.Tabular.TableRelationCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Core.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens namn.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="schema" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens schema.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Core.Traits.Trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="Core.Traits.TraitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Värdet för egenskapen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Data.Outputs.File.FileOutput">
    <xs:annotation>
      <xs:documentation>Anger en fil som destination för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="columnSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som kolumnavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customFormatId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger utdataformatet genom att referera till egendefinierat utdataformat i customFormats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="encoding" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Teckenkodningen för utdatafilen, t.ex. UTF-8.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileFormat" type="Data.Outputs.File.FileFormat" use="required">
      <xs:annotation>
        <xs:documentation>Anger filformatet av utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Sökvägen för utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quoteCharacter" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket tecken som ska användas som citationstecken i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som radavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="table" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilken källtabell som utdatafilen ska baseras på.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Data.Outputs.Sql.SqlOutput">
    <xs:annotation>
      <xs:documentation>Anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqlOutputType" type="Data.Outputs.Sql.SqlOutputType" use="required">
      <xs:annotation>
        <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Core.Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="en">
        <xs:annotation>
          <xs:documentation>English.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sv">
        <xs:annotation>
          <xs:documentation>Svenska.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Core.Descriptions.DescriptionType">
    <xs:annotation>
      <xs:documentation>The format of the description.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="logicMd">
        <xs:annotation>
          <xs:documentation>Logic markdown format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="md">
        <xs:annotation>
          <xs:documentation>Markdown format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="plain">
        <xs:annotation>
          <xs:documentation>Plain text format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Data.Tabular.BusinessKeyCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av businessKey som beskriver vilken kolumn som ska användas som BusinessKey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="Data.Tabular.BusinessKey" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.DataSourceColumnCollection">
    <xs:sequence>
      <xs:element name="column" type="Data.Tabular.DataSourceColumn" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.SampleDataRowCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sampleDataRow som anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sampleDataRow" type="Data.Tabular.SampleDataRow" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.TableRelationCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tableRelation som anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableRelation" type="Data.Tabular.TableRelation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Core.Traits.TraitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="appearance.icon">
        <xs:annotation>
          <xs:documentation>Icon used for presentation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="classification.infoClass">
        <xs:annotation>
          <xs:documentation>Informationclass.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.address">
        <xs:annotation>
          <xs:documentation>Address.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.email">
        <xs:annotation>
          <xs:documentation>Email.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.employeeNumber">
        <xs:annotation>
          <xs:documentation>Employee number.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.name">
        <xs:annotation>
          <xs:documentation>Name.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.ssn">
        <xs:annotation>
          <xs:documentation>Social Security Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.zip">
        <xs:annotation>
          <xs:documentation>Zipcode.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.aggregated">
        <xs:annotation>
          <xs:documentation>Aggregated data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.anonymized">
        <xs:annotation>
          <xs:documentation>Anonymized data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.identified">
        <xs:annotation>
          <xs:documentation>Identifiable data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.pseudonymized">
        <xs:annotation>
          <xs:documentation>Pseudonymized data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataUsage.improve">
        <xs:annotation>
          <xs:documentation>Approved for quality improvement usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataUsage.research">
        <xs:annotation>
          <xs:documentation>Approved for research usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Data.Outputs.File.FileFormat">
    <xs:annotation>
      <xs:documentation>Anger kompatibla filformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="csv">
        <xs:annotation>
          <xs:documentation>CSV är ett vanligt textfilsformat för att spara och överföra tabelldata.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="custom">
        <xs:annotation>
          <xs:documentation>Ett egendefinierat format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parquet">
        <xs:annotation>
          <xs:documentation>Apache parquet är ett öppet källkodsformat vilket är designat för effektiv lagring och läsning. Mer information finns här: (https://parquet.apache.org/). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Data.Outputs.Sql.SqlOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="sparksql">
        <xs:annotation>
          <xs:documentation>SparkSQL.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tsql">
        <xs:annotation>
          <xs:documentation>T-SQL.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Data.Tabular.BusinessKey">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="Data.Tabular.DataSourceColumn">
    <xs:annotation>
      <xs:documentation>Beskriver en kolumn i en tabulär datakälla.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="dimlDataType" type="Core.DataTypesConfig.DimlDataType" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Core.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.SampleDataRow">
    <xs:annotation>
      <xs:documentation>Anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.TableRelation">
    <xs:annotation>
      <xs:documentation>Anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relationColumns" type="Data.Tabular.RelationColumns" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id för tabellrelationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetTableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken tabell som tabellrelationen relaterar till.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Core.DataTypesConfig.DimlDataType">
    <xs:annotation>
      <xs:documentation>Anger en Diml-datatyp baserat på dom typer som finns definierade i datatypsspecifikationen.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="bits" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="Core.DataTypesConfig.DimlDataTypeFormat" use="optional">
      <xs:annotation>
        <xs:documentation>Anger formatet på datan. T.ex. Xml eller Json.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="Core.DataTypesConfig.DimlDataTypes" use="required">
      <xs:annotation>
        <xs:documentation>Anger datatypens typ. T.ex. String eller Integer.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isFixedLength" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall t.ex. en sträng har en fixerad längd och alltid tar upp lika mycket plats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isNullable" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen kan vara null eller ej.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isUnsigned" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen enbart kan innehålla positiva heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isWideChar" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen är en widechar is SQL.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger maxlängden på t.ex. en sträng.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mantissa" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra mantissan för flyttal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalDataType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger källsystemets datatyp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalPlatform" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger typen av källsystem som datatypen härstammar från.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="precision" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger precisionen för tid och decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger skalan för decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Data.Tabular.RelationColumns">
    <xs:annotation>
      <xs:documentation>Anger med vilka kolumner en tabell relaterar till en annan.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i källtabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetColumnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i den relaterade tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Core.DataTypesConfig.DimlDataTypeFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="json" />
      <xs:enumeration value="xml" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Core.DataTypesConfig.DimlDataTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="binary" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="date" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="dateTimeOffset" />
      <xs:enumeration value="decimal" />
      <xs:enumeration value="float" />
      <xs:enumeration value="guid" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="string" />
      <xs:enumeration value="time" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>