dataproduct/v6.0.0.xsd

<!--
    DIML XSD Schema for dataproduct v6.0.0
-->
<xs:schema xmlns="https://github.com/Region-Skane-SDI/diml/dataproduct" targetNamespace="https://github.com/Region-Skane-SDI/diml/dataproduct" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="dataProduct" type="Storage.Data.Product.v6.DataProductSpecification" />
  <xs:complexType name="Storage.Data.Product.v6.DataProductSpecification">
    <xs:annotation>
      <xs:documentation>Beskrivning av en dataprodukt med dess specifikationer.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dataFlow" type="Storage.Data.Product.v6.DataFlow" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataInputs" type="Storage.Data.Product.v6.DataInputCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="dataOutputs" type="Storage.Data.Product.v6.Outputs.DataOutputs" minOccurs="0" maxOccurs="1" />
      <xs:element name="dcat" type="Storage.Data.Product.v6.Dcat" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="tables" type="Storage.Data.Product.v6.TableCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Storage.Data.Product.v6.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>En globalt unik identifierare för Diml-objektet.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetPlatform" type="Storage.Data.Product.v6.TargetPlatformType" use="required">
      <xs:annotation>
        <xs:documentation>Vilken plattform som ska användas.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataFlow">
    <xs:annotation>
      <xs:documentation>Anger flödet av data genom alla lager, samt egenskaper t.ex om en tabell ska materialiseras, uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dataIngests" type="Storage.Data.Product.v6.DataIngestCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="dataStages" type="Storage.Data.Product.v6.DataStages.DataStageCollection" minOccurs="1" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataInputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en list av indatakällor för en dataproduktsspecifikation, t.ex. en DataSource eller en annan DataProduct.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataInput" type="Storage.Data.Product.v6.DataInput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.DataOutputs">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av utdataformat.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="apiOutputs" type="Storage.Data.Product.v6.Outputs.Api.ApiOutputCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="fileOutputs" type="Storage.Data.Product.v6.Outputs.File.FileOutputCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="sqlOutputs" type="Storage.Data.Product.v6.Outputs.Sql.SqlOutputCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Dcat">
    <xs:annotation>
      <xs:documentation>Innehåller egenskaper för DCAT vilket är en metadataspecifikation för att beskriva datamängder. Mer information finns här: https://docs.dataportal.se/dcat/en/</xs:documentation>
    </xs:annotation>
    <xs:attribute name="dcatAccessRights" type="Storage.Data.Product.v6.DCatAccessRightsType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilka åtkomsträttigheter som finns för dataprodukten i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatAvailability" type="Storage.Data.Product.v6.DCatAvailabilityType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens tillgänglighet i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatDataTheme" type="Storage.Data.Product.v6.DCatDataThemeType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilket datatema dataprodukten tillhör i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatStatus" type="Storage.Data.Product.v6.DCatStatusType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens status i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dcatUpdateFrequency" type="Storage.Data.Product.v6.DCatUpdateFrequencyType" use="required">
      <xs:annotation>
        <xs:documentation>Anger dataproduktens uppdateringsfrekvens i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Core.Descriptions.DescriptionCollection">
    <xs:annotation>
      <xs:documentation>A collection of descriptions of the object in different languages and formats.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="Core.Descriptions.Description" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Core.Names.NameCollection">
    <xs:annotation>
      <xs:documentation>A collection of names of the object in different languages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="Core.Names.Name" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.TableCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tabeller i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="table" type="Storage.Data.Product.v6.Table" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.TargetPlatformType">
    <xs:annotation>
      <xs:documentation>Anger vilken plattform som ska användas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="azdatabricks">
        <xs:annotation>
          <xs:documentation>Azure Databricks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="azsqlserver">
        <xs:annotation>
          <xs:documentation>Azure SQL Server</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="msfabric-lakehouse">
        <xs:annotation>
          <xs:documentation>Microsoft Fabric Lakehouse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="msfabric-warehouse">
        <xs:annotation>
          <xs:documentation>Microsoft Fabric Warehouse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sqlserver">
        <xs:annotation>
          <xs:documentation>SQL Server</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.Traits.TraitCollection">
    <xs:annotation>
      <xs:documentation>En samling av egenskaper på ett DIML-objekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trait" type="Storage.Data.Product.v6.Traits.Trait" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataIngestCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av Instruktioner för hur data ska läsas in från källa till destination.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataIngest" type="Storage.Data.Product.v6.DataIngest" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.DataStageCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av datastages som anger de olika stadien för data och dess egenskaper, tex. Om en tabell ska materialiseras eller inte, hur data ska uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataStage" type="Storage.Data.Product.v6.DataStages.DataStage" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataInput">
    <xs:annotation>
      <xs:documentation>Anger en indatakälla för en dataproduktsspecifikation, t.ex. en DataSource eller en annan DataProduct.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken typ av data som ska hämtas och i vilket format.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dimlId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett globalt unikt dimlId för indatakällan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett id för indatakällan. Detta måste vara unikt inom en DataProduct då det kommer att användas som ett alias.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.Api.ApiOutputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av apiOutput som anger API som utdataformat enligt en angiven standard.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="apiOutput" type="Storage.Data.Product.v6.Outputs.Api.ApiOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.File.FileOutputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av fildestinationer för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileOutput" type="Storage.Data.Product.v6.Outputs.File.FileOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.Sql.SqlOutputCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sqluOutput som anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sqlOutput" type="Storage.Data.Product.v6.Outputs.Sql.SqlOutput" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DCatAccessRightsType">
    <xs:annotation>
      <xs:documentation>Anger vilka åtkomsträttigheter som finns för dataprodukten i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nonPublic">
        <xs:annotation>
          <xs:documentation>Inte tillgänglig för allmänheten pga integritet, säkerhet eller andra orsaker. Användningsanmärkning: Denna kategori kan omfatta resurser som innehåller känslig eller personlig information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="public">
        <xs:annotation>
          <xs:documentation>Tillgängligt för allmänheten. Användningsanmärkning: Tillåtna hinder inkluderar registrering och begäran av API-nycklar, så länge vem som helst kan begära registrering och/eller API-nycklar.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restricted">
        <xs:annotation>
          <xs:documentation>Endast tillgängligt under särskilda villkor. Användningsanmärkning: Denna kategori kan omfatta resurser som kräver betalning, resurser som tillgängliggörs inom ramen för sekretessavtal, eller resurser där utgivaren eller ägaren ännu inte har beslutat om de kan offentliggöras.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DCatAvailabilityType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens tillgänglighet i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="available">
        <xs:annotation>
          <xs:documentation>Data finns tillgänglig för några år, planering på medellång sikt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="experimental">
        <xs:annotation>
          <xs:documentation>Data är tillgänglig på försök för en kort period, kortsiktig planering.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stable">
        <xs:annotation>
          <xs:documentation>Data kommer att vara tillgängliga på lång sikt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temporary">
        <xs:annotation>
          <xs:documentation>Data kan försvinna när som helst, ingen planering.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DCatDataThemeType">
    <xs:annotation>
      <xs:documentation>Anger vilket datatema dataprodukten tillhör i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="econ">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset för områdena ekonomisk verksamhet, med produktion, distribution, handel och konsumtion av varor och tjänster, samt finansiell verksamhet med inriktning på förvaltning av pengar på individuell nivå, företagsnivå eller myndighetsnivå.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="educ">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som utbildning, kultur och sport. Utbildning är processen att underlätta lärande, eller förvärvande av kunskap, färdigheter, värderingar, övertygelser och vanor. Kultur omfattar det sociala beteendet och de normer som tfinns i mänskliga samhällen, såväl som kunskap, övertygelser, konster, lagar, seder, förmågor och vanor hos individerna i dessa grupper. Idrott omfattar alla former av tävlingsmässig fysisk aktivitet eller spel som upprätthåller eller förbättrar fysisk förmåga och färdigheter samtidigt som deltagarna njuter, och i vissa fall underhållning för åskådarna. Exempel på dataset: Europeiska tfärdigheter, kompetenser, kvalifikationer och yrken (ESCO); EU:s medlemsstater och internationella åtaganden om mänskliga rättigheter; Deltagande i kultur-eller sportaktiviteter under de senaste 12 månaderna efter kön, ålder och utbildningsnivå.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ener">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domänen energi. Energi är den kvantitativa egenskap som måste överföras till ett objekt för att kunna utföra arbete på, eller värma, objektet. Levande organismer kräver energi för att hålla sig vid liv; mänsklig civilisation kräver energi för att fungera. Exempel på dataset: rapporter om den europeiska gasmarknaden; Elpriser efter typ av användare.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="envi">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domänen miljö. Den naturliga miljön omfattar samspelet mellan alla levande arter, klimat, väder och naturresurser som påverkar människans överlevnad och ekonomisk aktivitet. Exempel på dataset: EU-medborgarnas tattityder till miljön; Föroreningsutsläpp från transporter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gove">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som regering eller offentlig sektor. En regering är systemet eller gruppen av människor som styr ett organiserat samhälle, ofta en stat. Den offentliga sektorn är den del av ekonomin som består av både offentliga tjänster och offentliga företag. Offentliga tjänster och företag kan kontrolleras av statliga, regionala eller lokala myndigheter. Organisationer som inte ingår i den offentliga sektorn är antingen en del av den privata eller frivilliga sektorn. Exempel på dataset: Kandidatländer och potentiella kandidater: Statistisk statistik; Transparensregister.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heal">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domänen hälsa. Hälsa är ett tillstånd av fysiskt, psykiskt och socialt välbefinnande där sjukdom och handikapp saknas. Exempel på dataset: COVID-19 Coronavirus-data; Europeiska cancerinformationssystemet.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="intr">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domänen för internationella frågor. En fråga – viktigt ämne eller problem för debatt eller diskussion – är internationell när deltagarna representerar minst två länder. Exempel på dataset: Konsoliderad lista över personer, grupper och enheter som omfattas av EU:s ekonomiska sanktioner; Europeiska kommissionen – GD DEVCO – utveckling och humanitärt bistånd till Afghanistan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="just">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som rättvisa, rättssystem eller allmän säkerhet. Rättvisa inkluderar både uppnåendet av det som är rättvist och den filosofiska diskussionen om det som är rättvist; här avses huvudsakligen den processuella rättvisa som den finns i studien och tillämpningen av lagen. Världens samtida rättssystem är i allmänhet baserade på ett av fyra grundläggande system: civilrätt, sedvanerätt, lagstadgad lag, religiös lag eller kombinationer av dessa. Allmän säkerhet är en funktion av regeringar som säkerställer skyddet av medborgare, personer på deras territorium, organisationer och institutioner mot hot mot deras välbefinnande – och välståndet i deras samhällen. Exempel på dataset: EU:s rättspraxis; Information om medlemsstaternas lagstiftning; Europeiska datatillsynsmannens register över behandlingar.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="op_datpro">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset för områdena befolkning och samhälle, där befolkning avser det totala antalet personer som bor på olika geografiska nivåer, från städer till global nivå, medan samhälle avser en grupp individer som deltar i kontinuerlig social interaktion inom ett gemensamt territorium, ofta enligt samma politiska och kulturella normer.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="regi">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som regioner eller städer. När det gäller politisk geografi tenderar regioner att vara baserade på politiska enheter som suveräna stater; subnationella enheter såsom administrativa regioner, provinser, stater, grevskap, townships, territorier, etc.; och multinationella grupperingar. En stad är en stor mänsklig bosättning. Exempel på dataset: NUTS - Nomenklatur för territoriella enheter för statistikklassificering; UDP - BNP per capita efter storstadsregioner, 2000 - 2060.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="soci">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som befolkning eller samhälle. Befolkning är en samling avmänniskor och hela deras ras; det är antalet personer i en stad, region, ett land eller en värld. Ett samhälle är en grupp individer som är involverade i ihållande social interaktion, eller en stor social grupp som delar samma rumsliga eller sociala territorium, vanligtvis föremål för samma politiska auktoritet och dominerande kulturella förväntningar. Exempel på dataset: Befolkningstäthet efter NUTS 2-region; Violence against Women: En EU-omfattande tundersökning.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tech">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker domäner som vetenskap eller teknik. Vetenskap är ett systematiskt företag som bygger och organiserar kunskap i form av testbara förklaringar och förutsägelser. Modern vetenskap är typiskt indelad i tre huvudgrenar som består av naturvetenskaperna, som studerar naturen i vid mening; samhällsvetenskaperna, som studerar individer och samhällen; och de formella vetenskaperna, som studerar abstrakta begrepp. Teknik är summan av tekniker, färdigheter, metoder och processer som används vid produktion av varor eller tjänster eller för att uppnå mål, såsom vetenskaplig undersökning. Exempel på dataset: CORDIS - EU-forskningsprojekt under Horisont 2020 (2014–2020); Uttag av mobilt bredband (abonnemang/100 personer).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tran">
        <xs:annotation>
          <xs:documentation>Detta koncept identifierar dataset som täcker transportdomänen. Transport är förflyttning av människor, djur och varor från en plats till en annan. Transportsätt inkluderar luft, land (järnväg och väg), vatten, kabel, rörledning och rymd. Exempel på dataset: Total längd på motorvägar; Flygplatstrafikdata genom att rapportera flygplats och flygbolag.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DCatStatusType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens status i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="completed">
        <xs:annotation>
          <xs:documentation>Denna distribution anses vara komplett; den innehåller all avsedd information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="deprecated">
        <xs:annotation>
          <xs:documentation>Det rekommenderas att man inte längre använder innehållet i denna distribution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="underDevelopment">
        <xs:annotation>
          <xs:documentation>Denna distribution håller för närvarande på att sammanställas. Den kan vara i ett ofullständigt eller felaktigt tillstånd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="withdrawn">
        <xs:annotation>
          <xs:documentation>Denna distribution är inte längre avsedd att publiceras.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DCatUpdateFrequencyType">
    <xs:annotation>
      <xs:documentation>Anger dataproduktens uppdateringsfrekvens i datakatalogen. Följer standarden DCAT-AP, mer information finns här: https://docs.dataportal.se/dcat/en</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="annual">
        <xs:annotation>
          <xs:documentation>Uppdateras en gång om året.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="annual2">
        <xs:annotation>
          <xs:documentation>Uppdateras två gånger om året.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="biennial">
        <xs:annotation>
          <xs:documentation>Uppdateras vartannat år.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bimonthly">
        <xs:annotation>
          <xs:documentation>Uppdateras varannan månad.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="biweekly">
        <xs:annotation>
          <xs:documentation>Uppdateras varannan vecka.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="continuous">
        <xs:annotation>
          <xs:documentation>Uppdateras oftare än dagligen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="daily">
        <xs:annotation>
          <xs:documentation>Uppdateras en gång om dagen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="daily2">
        <xs:annotation>
          <xs:documentation>Uppdateras två gånger om dagen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="irregular">
        <xs:annotation>
          <xs:documentation>Uppdateras med ojämna intervall.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="monthly">
        <xs:annotation>
          <xs:documentation>Uppdateras en gång i månaden.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="monthly2">
        <xs:annotation>
          <xs:documentation>Uppdateras två gånger i månaden.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="monthly3">
        <xs:annotation>
          <xs:documentation>Uppdateras tre gånger i månaden.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Uppdateras med en annan typ av regelbundenhet (till exempel varje skottår).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="quarterly">
        <xs:annotation>
          <xs:documentation>Uppdateras var tredje månad.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="triennial">
        <xs:annotation>
          <xs:documentation>Uppdateras vart tredje år.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Uppdateras med okänd regelbundenhet.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="update_continuously">
        <xs:annotation>
          <xs:documentation>update_continuously</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="weekly">
        <xs:annotation>
          <xs:documentation>Uppdateras en gång i veckan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="weekly2">
        <xs:annotation>
          <xs:documentation>Uppdateras två gånger i veckan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="weekly3">
        <xs:annotation>
          <xs:documentation>Uppdateras tre gånger i veckan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Core.Descriptions.Description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Used to give a DIML object a description in a given language and format.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="Core.Language" use="required">
          <xs:annotation>
            <xs:documentation>The language of the description.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="Core.Descriptions.DescriptionType" use="required">
          <xs:annotation>
            <xs:documentation>The format of the description.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Core.Names.Name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>Represents a name of a DIML object in a specific language.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="Core.Language" use="required">
          <xs:annotation>
            <xs:documentation>The language of the name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Table">
    <xs:annotation>
      <xs:documentation>Beskriver en tabell i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="aliases" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="alias" type="Storage.Data.Product.v6.Alias" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="businessKey" type="Storage.Data.Product.v6.BusinessKeyCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="columns" type="Storage.Data.Product.v6.ColumnCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="1" maxOccurs="1" />
      <xs:element name="sampleData" type="Storage.Data.Product.v6.SampleDataRowCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="tableRelations" type="Storage.Data.Product.v6.TableRelationCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="trait" type="Storage.Data.Product.v6.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="existsFromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som tabellen kommer att existera i. Om inget anges gäller fösta dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="existsToStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som tabellen kommer att existera i. Om inget anges gäller sista dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Traits.Trait">
    <xs:annotation>
      <xs:documentation>Används för att specificera egenskaper (traits) på ett Diml-objekt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="Storage.Data.Product.v6.Traits.TraitType" use="required">
      <xs:annotation>
        <xs:documentation>The type of trait.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Värdet för egenskapen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataIngest">
    <xs:annotation>
      <xs:documentation>Instruktioner för hur data ska läsas in från källa till destination.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="tableToTableMappings" type="Storage.Data.Product.v6.TableToTableMappingCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="dataInputId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id som respesenterar en källa.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id som representerar ett dataIngest-flöde.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.DataStage">
    <xs:annotation>
      <xs:documentation>Anger de olika stadien för data och dess egenskaper, tex. Om en tabell ska materialiseras eller inte, hur data ska uppdateras osv.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="ingestPolicy" type="Storage.Data.Product.v6.DataStages.Ingest.IngestPolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="logicDataStageTables" type="Storage.Data.Product.v6.DataStages.Logic.LogicDataStageTableCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Storage.Data.Product.v6.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="validationPolicy" type="Storage.Data.Product.v6.DataStages.Validate.ValidationPolicy" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Unikt id för dataStage.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="materialization" type="Storage.Data.Product.v6.DataStages.DataStageMaterialization" use="required">
      <xs:annotation>
        <xs:documentation>Anger om data ska materialiseras eller inte.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="order" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>OBSOLETE: Anger ordningen på dataStage, dvs vilket steg som ska ske först.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="role" type="Storage.Data.Product.v6.DataStages.DataStageRole" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vad som ska hända i dataStage t.ex transformation,input,output.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="Storage.Data.Product.v6.DataStages.DataStageType" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken typ av dataStage t.ex tempStore,permaStore,validate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.Api.ApiOutput">
    <xs:annotation>
      <xs:documentation>Anger API som utdataformat enligt en angiven standard.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="apiOutputType" type="Storage.Data.Product.v6.Outputs.Api.ApiOutputType" use="required">
      <xs:annotation>
        <xs:documentation>API utdataformat</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>API Id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.File.FileOutput">
    <xs:annotation>
      <xs:documentation>Anger en fil som destination för utdata med ett antal obligatoriska parametrar.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="columnSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som kolumnavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customFormatId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger utdataformatet genom att referera till egendefinierat utdataformat i customFormats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="encoding" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Teckenkodningen för utdatafilen, t.ex. UTF-8.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileFormat" type="Storage.Data.Product.v6.Outputs.File.FileFormat" use="required">
      <xs:annotation>
        <xs:documentation>Anger filformatet av utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="path" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Sökvägen för utdatafilen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="quoteCharacter" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket tecken som ska användas som citationstecken i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowSeparator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilket/vilka tecken som ska användas som radavskiljare i utdatafilen, om filformatet är csv.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="table" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger vilken källtabell som utdatafilen ska baseras på.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.Outputs.Sql.SqlOutput">
    <xs:annotation>
      <xs:documentation>Anger output som SQL kod i angiven dialekt, tex: TSQL eller Spark SQL.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="channelId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger ett unikt id för varje utkanaltyp t.ex sql,sql2 etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sqlOutputType" type="Storage.Data.Product.v6.Outputs.Sql.SqlOutputType" use="required">
      <xs:annotation>
        <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Core.Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="en">
        <xs:annotation>
          <xs:documentation>English.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sv">
        <xs:annotation>
          <xs:documentation>Svenska.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Core.Descriptions.DescriptionType">
    <xs:annotation>
      <xs:documentation>The format of the description.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="logicMd">
        <xs:annotation>
          <xs:documentation>Logic markdown format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="md">
        <xs:annotation>
          <xs:documentation>Markdown format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="plain">
        <xs:annotation>
          <xs:documentation>Plain text format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.Alias">
    <xs:annotation>
      <xs:documentation>Anger att ett objekt ska byta namn i en eller flera dataStage.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="fromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som objektet ska byta namn i. Om inget anges gäller första dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="toStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som objektet ska byta namn i. Om inget anges gäller sista dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger alias för ett eller flera dataStages.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.BusinessKeyCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av businessKey som beskriver vilken kolumn som ska användas som BusinessKey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="Storage.Data.Product.v6.BusinessKey" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.ColumnCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av dataProductColumn som beskriver en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="column" type="Storage.Data.Product.v6.Column" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.SampleDataRowCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av sampleDataRow som anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sampleDataRow" type="Storage.Data.Product.v6.SampleDataRow" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.TableRelationCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tableRelation som anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableRelation" type="Storage.Data.Product.v6.TableRelation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.Traits.TraitType">
    <xs:annotation>
      <xs:documentation>The type of trait.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="appearance.icon">
        <xs:annotation>
          <xs:documentation>Icon used for presentation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="classification.infoClass">
        <xs:annotation>
          <xs:documentation>Informationclass.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.address">
        <xs:annotation>
          <xs:documentation>Address.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.email">
        <xs:annotation>
          <xs:documentation>Email.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.employeeNumber">
        <xs:annotation>
          <xs:documentation>Employee number.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.name">
        <xs:annotation>
          <xs:documentation>Name.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.ssn">
        <xs:annotation>
          <xs:documentation>Social Security Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="means.pii.zip">
        <xs:annotation>
          <xs:documentation>Zipcode.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.aggregated">
        <xs:annotation>
          <xs:documentation>Aggregated data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.anonymized">
        <xs:annotation>
          <xs:documentation>Anonymized data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.identified">
        <xs:annotation>
          <xs:documentation>Identifiable data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataIdentifiability.pseudonymized">
        <xs:annotation>
          <xs:documentation>Pseudonymized data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataUsage.improve">
        <xs:annotation>
          <xs:documentation>Approved for quality improvement usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privacy.dataUsage.research">
        <xs:annotation>
          <xs:documentation>Approved for research usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.TableToTableMappingCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av tabellmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableToTableMapping" type="Storage.Data.Product.v6.TableToTableMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Ingest.IngestPolicy">
    <xs:annotation>
      <xs:documentation>Sets rules that controls the behaviour of the ingestStore data stage.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="ingestStoreDataStageTables" type="Storage.Data.Product.v6.DataStages.Ingest.IngestStoreDataStageTableCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="loadType" type="Storage.Data.Product.v6.DataStages.Ingest.LoadType" use="required" />
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Logic.LogicDataStageTableCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av logicDataStageTable som beskriver hur tabeller ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="logicDataStageTable" type="Storage.Data.Product.v6.DataStages.Logic.LogicDataStageTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.DataStageMaterialization">
    <xs:annotation>
      <xs:documentation>Anger om data ska materialiseras eller virtualiseras.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ingest">
        <xs:annotation>
          <xs:documentation>Ett specialfall som hanterar inläsning av data. Huruvida datat materialiseras i en tabell eller virtualiseras i en vy beror på vilken målplattform som används.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="table">
        <xs:annotation>
          <xs:documentation>Anger att datat ska materialiseras i en tabell.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="validate">
        <xs:annotation>
          <xs:documentation>Ett specialfall som hanterar validering av data. I det här fallet materialiseras datat i en tabell och virtualiseras sedan i en vy där eventuella filtreringar sker.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="view">
        <xs:annotation>
          <xs:documentation>Anger att datat ska virtualiseras i en vy.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.DataStageRole">
    <xs:annotation>
      <xs:documentation>Anger vad som sker i dataStage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="control">
        <xs:annotation>
          <xs:documentation>Data kontrolleras enligt givna regler.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="input">
        <xs:annotation>
          <xs:documentation>Data kommer in.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="output">
        <xs:annotation>
          <xs:documentation>Data går ut.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="transformation">
        <xs:annotation>
          <xs:documentation>Data transformeras enligt givna regler.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.DataStageType">
    <xs:annotation>
      <xs:documentation>Anger vilken typ av dataStage .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="basicLogic" />
      <xs:enumeration value="hash" />
      <xs:enumeration value="ingestStore" />
      <xs:enumeration value="logic" />
      <xs:enumeration value="permaStore" />
      <xs:enumeration value="tempStore" />
      <xs:enumeration value="typecast" />
      <xs:enumeration value="validate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.ValidationPolicy">
    <xs:annotation>
      <xs:documentation>TODO</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="businessKeyDuplicate" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyDuplicatePolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="businessKeyNull" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyNullPolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="qualityValidation" type="Storage.Data.Product.v6.DataStages.Validate.QualityValidationPolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="validateDataStageTables" type="Storage.Data.Product.v6.DataStages.Validate.ValidateDataStageTableCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.Outputs.Api.ApiOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med apiOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="odata">
        <xs:annotation>
          <xs:documentation>ODATA.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.Outputs.File.FileFormat">
    <xs:annotation>
      <xs:documentation>Anger kompatibla filformat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="csv">
        <xs:annotation>
          <xs:documentation>CSV är ett vanligt textfilsformat för att spara och överföra tabelldata.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="custom">
        <xs:annotation>
          <xs:documentation>Ett egendefinierat format.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parquet">
        <xs:annotation>
          <xs:documentation>Apache parquet är ett öppet källkodsformat vilket är designat för effektiv lagring och läsning. Mer information finns här: (https://parquet.apache.org/). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.Outputs.Sql.SqlOutputType">
    <xs:annotation>
      <xs:documentation>Anger utdatatyper som är kompatibla med sqlOutput.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="sparksql">
        <xs:annotation>
          <xs:documentation>SparkSQL.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tsql">
        <xs:annotation>
          <xs:documentation>T-SQL.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.BusinessKey">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.Column">
    <xs:annotation>
      <xs:documentation>Beskriver en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="aliases" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="alias" type="Storage.Data.Product.v6.Alias" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descriptions" type="Core.Descriptions.DescriptionCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="dimlDataType" type="Storage.Data.Product.v6.ColumnDimlDataType" minOccurs="0" maxOccurs="1" />
      <xs:element name="names" type="Core.Names.NameCollection" minOccurs="0" maxOccurs="1" />
      <xs:element name="traits" type="Storage.Data.Product.v6.Traits.TraitCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="existsFromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som kolumnen ska existera i. Om inget anges gäller första dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="existsToStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som kolumnen ska existera i. Om inget anges gäller sista dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.SampleDataRow">
    <xs:annotation>
      <xs:documentation>Anger exempeldata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.TableRelation">
    <xs:annotation>
      <xs:documentation>Anger eventuella tabellrelationer och hur de relaterar via relationsColumns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relationColumns" type="Storage.Data.Product.v6.RelationColumns" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ett unikt id för tabellrelationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetTableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger vilken tabell som tabellrelationen relaterar till.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.TableToTableMapping">
    <xs:annotation>
      <xs:documentation>En tabellmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="columnMappings" type="Storage.Data.Product.v6.ColumnMappingCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="sourceTableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id i källan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Tabellens id i destinationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Ingest.IngestStoreDataStageTableCollection">
    <xs:sequence>
      <xs:element name="ingestStoreDataStageTable" type="Storage.Data.Product.v6.DataStages.Ingest.IngestStoreDataStageTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.Ingest.LoadType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="changeTracking" />
      <xs:enumeration value="full" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Logic.LogicDataStageTable">
    <xs:annotation>
      <xs:documentation>Beskriver hur tabeller ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="logicColumnMappings" type="Storage.Data.Product.v6.DataStages.Logic.LogicColumnMappingCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="filterSqlExpression" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om tabellrader ska filtreras.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger tabellid på tabell vars värden ska transformeras.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trim" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om tabellens kolumnvärden ska trimmas om inte en specifik kolumn trim anges.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyDuplicatePolicy">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling duplicate business keys.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="action" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyDuplicateAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for handling duplicate BusinessKeys.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rowNoOrderBy" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the sorting expression applied to the table for duplicate removal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyNullPolicy">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling business keys with null values.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="defaultValues" type="Storage.Data.Product.v6.DataStages.Validate.DefaultValueCollection" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="action" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyNullAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for handling null values in the BusinessKey.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.QualityValidationPolicy">
    <xs:annotation>
      <xs:documentation>Defines the policy for handling when something is not valid.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="action" type="Storage.Data.Product.v6.DataStages.Validate.QualityValidationAction" use="required">
      <xs:annotation>
        <xs:documentation>Defines the action to be taken for quality validation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.ValidateDataStageTableCollection">
    <xs:sequence>
      <xs:element name="validateDataStageTable" type="Storage.Data.Product.v6.DataStages.Validate.ValidateDataStageTable" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.ColumnDimlDataType">
    <xs:annotation>
      <xs:documentation>Anger en Diml-datatyp baserat på dom typer som finns definierade i datatypsspecifikationen.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dimlDataTypeOverride" type="Storage.Data.Product.v6.ColumnDimlDataTypeOverride" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="bits" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="Storage.Data.Product.v6.DataTypes.DimlDataTypeFormat" use="optional">
      <xs:annotation>
        <xs:documentation>Anger formatet på datan. T.ex. Xml eller Json.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="Storage.Data.Product.v6.DataTypes.DimlDataTypes" use="required">
      <xs:annotation>
        <xs:documentation>Anger datatypens typ. T.ex. String eller Integer.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isFixedLength" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall t.ex. en sträng har en fixerad längd och alltid tar upp lika mycket plats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isNullable" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen kan vara null eller ej.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isUnsigned" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen enbart kan innehålla positiva heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isWideChar" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen är en widechar is SQL.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger maxlängden på t.ex. en sträng.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mantissa" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra mantissan för flyttal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalDataType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger källsystemets datatyp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalPlatform" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger typen av källsystem som datatypen härstammar från.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="precision" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger precisionen för tid och decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger skalan för decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.RelationColumns">
    <xs:annotation>
      <xs:documentation>Anger med vilka kolumner en tabell relaterar till en annan.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i källtabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetColumnName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger relationkolumnens namn i den relaterade tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.ColumnMappingCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av ColumnMapping som är en kolumnmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="columnMapping" type="Storage.Data.Product.v6.ColumnMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Ingest.IngestStoreDataStageTable">
    <xs:attribute name="loadType" type="Storage.Data.Product.v6.DataStages.Ingest.LoadType" use="required">
      <xs:annotation>
        <xs:documentation>Sets how the data should be loaded for a given table, e.g. 'full' or 'changeTracking'.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A unique identifier that references a specific table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Logic.LogicColumnMappingCollection">
    <xs:annotation>
      <xs:documentation>Innehåller en lista av logicColumnMapping som beskriver hur kolumner ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="logicColumnMapping" type="Storage.Data.Product.v6.DataStages.Logic.LogicColumnMapping" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyDuplicateAction">
    <xs:annotation>
      <xs:documentation>Actions for business key duplicate policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="eliminate">
        <xs:annotation>
          <xs:documentation>Eliminate duplicates</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flag">
        <xs:annotation>
          <xs:documentation>Only flag duplicates</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyNullAction">
    <xs:annotation>
      <xs:documentation>Actions for business key null policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="flag">
        <xs:annotation>
          <xs:documentation>Only flag null values</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="setDefaultValue">
        <xs:annotation>
          <xs:documentation>Set default values on null values</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.DefaultValueCollection">
    <xs:sequence>
      <xs:element name="defaultValue" type="Storage.Data.Product.v6.DataStages.Validate.DefaultValue" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DataStages.Validate.QualityValidationAction">
    <xs:annotation>
      <xs:documentation>Actions for quality validation policy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="eliminateOnly" />
      <xs:enumeration value="filterValid" />
      <xs:enumeration value="ignoreValid" />
      <xs:enumeration value="stop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.ValidateDataStageTable">
    <xs:all>
      <xs:element name="businessKeyDuplicate" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyDuplicatePolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="businessKeyNull" type="Storage.Data.Product.v6.DataStages.Validate.BusinessKeyNullPolicy" minOccurs="0" maxOccurs="1" />
      <xs:element name="qualityValidation" type="Storage.Data.Product.v6.DataStages.Validate.QualityValidationPolicy" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="tableId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A unique identifier that references a specific table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.ColumnDimlDataTypeOverride">
    <xs:annotation>
      <xs:documentation>Anger en datatypändring av en kolumn i en tabulär dataprodukt.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="bits" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="Storage.Data.Product.v6.DataTypes.DimlDataTypeFormat" use="optional">
      <xs:annotation>
        <xs:documentation>Anger formatet på datan. T.ex. Xml eller Json.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fromStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger från och med vilket dataStage som kolumnen ska byta datatyp i. Om inget anges gäller första dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="Storage.Data.Product.v6.DataTypes.DimlDataTypes" use="required">
      <xs:annotation>
        <xs:documentation>Anger datatypens typ. T.ex. String eller Integer.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isFixedLength" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall t.ex. en sträng har en fixerad längd och alltid tar upp lika mycket plats.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isNullable" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen kan vara null eller ej.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isUnsigned" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen enbart kan innehålla positiva heltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isWideChar" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ifall datatypen är en widechar is SQL.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger maxlängden på t.ex. en sträng.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mantissa" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger antalet bitar som används för att lagra mantissan för flyttal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalDataType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger källsystemets datatyp.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="originalPlatform" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger typen av källsystem som datatypen härstammar från.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="precision" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger precisionen för tid och decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Anger skalan för decimaltal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="toStageId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger till och med vilket dataStage som kolumnen ska byta datatyp i. Om inget anges gäller sista dataStage i specifikationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Storage.Data.Product.v6.DataTypes.DimlDataTypeFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="json" />
      <xs:enumeration value="xml" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Storage.Data.Product.v6.DataTypes.DimlDataTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="binary" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="date" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="dateTimeOffset" />
      <xs:enumeration value="decimal" />
      <xs:enumeration value="float" />
      <xs:enumeration value="guid" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="string" />
      <xs:enumeration value="time" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Storage.Data.Product.v6.ColumnMapping">
    <xs:annotation>
      <xs:documentation>En kolumnmappning mellan en källa och en destination som används vid datainläsning.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id i destinationen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceColumnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kolumnens id i källan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Logic.LogicColumnMapping">
    <xs:annotation>
      <xs:documentation>Beskriver hur kolumner ska transformeras.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Anger kolumnid i tabellen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="customSqlExpression" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Anger ett SQL-uttryck för transformeringen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trim" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Anger om kolumnens värden ska trimmas.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Storage.Data.Product.v6.DataStages.Validate.DefaultValue">
    <xs:annotation>
      <xs:documentation>Defines a default value for a column.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="columnId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>A unique identifier that references a specific column within a table.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the default value assigned to the referenced column.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>